[Desktop Entry]
Type=Application
Name=Magic Mesh Music
Comment=Mesh music player (Airsonic/Subsonic)
Exec=mde-music
Icon=magic-mesh
Terminal=false
Categories=AudioVideo;Audio;Player;
